.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

h1 {
    color: #fff;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 100%;
    width: 400px;
    margin-bottom: 20px;

    & button {
        padding: 10px;
        font-weight: bold;
        border: none;
        border-radius: 5px;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        cursor: pointer;

        &:hover {
            opacity: 0.9;
            background-color: #45a049;
        }

    }

    & input {
        border: 1px solid;
        border-radius: 30px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.2);
        color: #fff;
        font-size: 16px;
        padding-left: 10px;
        outline: none;
    }

     & ::placeholder {
        text-align: center;
        color: #fff;
        opacity: 0.7;

    }
    
}

  .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px;
        padding: 20px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.1);
        margin-bottom: 10px;
        width: 400px;

        & p {
            color: #fff;
            font-size: 18px;
            margin-bottom: 5px;

            & span {
                font-weight: normal;
            }
        }

        & button {
            background-color: transparent;
            border: none;
            cursor: pointer;
        }

        & button:hover {
            opacity: 0.5;
        }
    }